*{
    margin: 0;
    padding: 0;
    font-family:'Josefin sans'  ,sans-serif;
    box-sizing: border-box;
 }
 .hero{
    height: 100vh;
    width: 100%;
    background-image: url('MANJIMA\ 9.PNG');
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}
span{
    color:#f9004d;
}
.flex  li{
    flex:1;
    display: inline-block;
   justify-content: space-between;
   align-items: center;
   padding: 5px 10px;
   position: relative;
   cursor: pointer;
   }

.flex{
    color:white;
    text-decoration: none;
    font-size: 30px;

    list-style: none;
}
  .flex li::after{
    content:'';
    width:0%;
    height:2px;
    background: #f9004d;
    display: block;
    margin:auto;
    transition: 0.5s;
    }
    .flex li:hover::after{
        width: 100%;
    }


.btn{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:transform .4s;
    
}
.btn:hover{
    transform: scale(1.2);
}
.inp{
    position: absolute;
    right: 5px;
}
.input{
    height: 30px;
    border-radius:10px;
    font-size: 10px
}
.text{
    padding-left: 20px;
    margin-right: 5px;
    outline: 1px solid blue;
}
.submit{
    width: 80px;
    margin-right: 50px;
    background:rgb(240, 235, 235);
    color: rgb(10, 204, 238);
    border: 1px solid rgb(235, 133, 133);
    }
    .submit:hover{
        background: #f9004d;
        cursor: pointer;
    }

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h2{
    color: rgb(34, 31, 31);
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 20px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;
    }
    .newsletter form input:first-child{
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: 2px solid#f9004d;
        outline: none;
        border-radius: 30px;
    }
    .newsletter form input:last-child{
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: #f9004d;
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px#858585;
    }
    .about{
        width: 100%;
        height: 700px;
        background-color:skyblue ;
    }
    .about img{
        height: auto;
        width: 400px;
    }
    .about-text{
        width: 550px;
    }
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
        color: black;
        font-size: 75px;
        text-transform: capitalize;
        margin-top: 20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    }
    .about-text p{
        color: #000;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
        }
        button{
            background-color: #f9004d;
            color: black;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 13px 30px;
            border-radius: 30px;
            transition: .4s;
            cursor: pointer;
        }
        button:hover{
            transform: scale(1.2);
        }
        
        .mydiv5 {
          height: 700px;;
          width:100%;
          background-color:#72f0e5;
        
        }
        .mydiv5 h1{
          font-size: 75px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding: 2px;
          margin-left: 500px;
          margin-top: 80px;
          position: absolute;
        }
      
        .b .b1{
          width: 500px;
          height: 300px;
          background-color: white;
          margin-left: 150px; 
          position:absolute;
          margin-top: 250px;
          padding: 2px;
          display: inline-block;
          font-size: 30px;
            cursor: pointer;
        }
        .b1 #h1{
          color: black;
          margin-top: 0px;
           font-size: 20px;
          text-align: center;
          font-size: 18px;
          
        }
        .b1 #h2{
          
          color: red;
          margin-top: 10px;
          text-align: center;
          font-size: 30px;
        }
.b1:hover{
    background-color: #e2a7e4
}
         .b2{
          width: 500px;
          height: 300px;
          background-color: white;
          margin-left: 890px; 
          position:absolute;
          margin-top: 250px;
          padding: 2px;
          display: inline-block;
          font-size: 30px;
              cursor: pointer;
        }
        .b2 #h1{
          color: black;
          margin-top: 0px;
           font-size: 20px;
          text-align: center;
          font-size: 18px;
          
        }
        .b2 #h2{
          
          color: red;
          margin-top: 10px;
          text-align: center;
          font-size: 30px;
        }
.b2:hover{
    background-color:#93e788;
}
         
        .mydiv6 {
          height: 1000px;;
          width:100%;
            background-color:aqua;
}

        .mydiv6 h1{
          font-size: 50px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          padding: 2px;
          margin-left: 700px;
          margin-top: 80px;
          position: absolute;
        }
        .c1 {
          width: 500px;
          height: 300px;
          background-color: white;
          margin-left: 150px; 
          position:absolute;
          margin-top: 250px;
          padding: 2px;
          display: inline-block;
          font-size: 20px;
             cursor: pointer;
        }
        .c1 #h1{
          color: black;
          margin-top: 0px;
           font-size: 20px;
          text-align: center;
          
        }
        .c1 #h2{
          
          color: red;
          margin-top: 10px;
          text-align: center;
          font-size: 30px;
        }
.c1:hover{
    background-color:#7240e5;
}
      
        
         .c2{
          width: 500px;
          height: 300px;
          background-color: white;
          margin-left: 890px; 
          position:absolute;
          margin-top: 250px;
          padding: 2px;
          display: inline-block;
          font-size: 20px;
              cursor: pointer;
        }
        .c2 #h1{
          color: black;
          margin-top: 0px;
           font-size: 20px;
          text-align: center;
          
        }
        .c2 #h2{
          
          color: red;
          margin-top: 10px;
          text-align: center;
          font-size: 30px;
        }
.c2:hover{
    background-color:#628edf;
}
         .c3{
          width: 500px;
          height: 300px;
          background-color: white;
          margin-left: 550px;
          position:absolute;
          margin-top: 600px;
          padding-left: 20px;
              cursor: pointer;
        }
        .c3 #h1{
          color: black;
          margin-top: 0px;
           font-size: 20px;
          text-align: center;
          
        }
        .c3 #h2{
          
          color: red;
          margin-top: 10px;
          text-align: center;
          font-size: 30px;
        }
        .c3:hover{
    background-color:#93e788;

}
        
       
           
 /* CSS for footer */
.footer {
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://www.xmple.com/wallpaper/blue-pink-gradient-linear-1920x1080-c2-ff69b4-00bfff-a-90-f-14.svg');
    padding: 2px 3px;

  }
  
  .footer .copy {
    color: rgb(42, 6, 247);
  }
  .links {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  
 .links span {
    font-size: 20px;
    color: rgb(15, 38, 241);
    text-transform: uppercase;
    margin: 10px 0;
    text-align: center;
  }
.links img{
    float: left;
    margin-top: 3%;
    margin-left: 15%;
}
        
        
       
        
           
